h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  button {
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--accent-color);
    transition: color var(--transition-duration-and-func);
    background-color: var(--transition-duration-and-func);
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    margin-bottom: 8px;
  }
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
@media only screen and (min-width: 768px) {

  }
@media only screen and (min-width: 1200px) {

}