:root {
    --primary-color-text: #2e2f42;
    --accent-color: #4d5ae5;
    --accent-color-secondary: #f4f4fd;
    --page--background--color: #ffffff;
    --brand-color: #434455;
    --page-color: #404bbf;
    --customers-color: #8e8f99;
    --social-background-color: #31d0aa;
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  button {
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--accent-color);
    transition: color var(--transition-duration-and-func);
    background-color: var(--transition-duration-and-func);
  }
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
  }
  .main {
    margin-right: auto;
    margin-left: auto;
    background-color: var(--primary-color-text);
    padding: 188px 0;
    background-color: var(--primary-color-text);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main-menu {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--page--background--color);
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .first-menu {
    display: flex;
    gap: 40px;
  }
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
    background-color: var(--page--background--color);
  }
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    padding: 24px 0;
    display: block;
    transition: color 300ms linear;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--page-color);
  }
  .contacts-item {
    font-style: normal;
    margin-left: auto;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }
  .contacts-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-right: auto;
    transition: color 300ms linear;
  }
  .contacts:hover,
  .contacts:focus {
    color: var(--page-color);
  }
  
  .contacts:hover,
  .contacts:focus {
    color: var(--page-color);
  }
  .modal-open-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    color: var(--page--background--color);
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    min-width: 169px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .modal-open-btn:hover,
  .modal-open-btn:focus {
    background-color: var(--page-color);
    color: var(--accent-color-secondary);
  }
  .list-main {
    padding: 120px 0;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--accent-color-secondary);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .list-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    margin-bottom: 8px;
  }
  .text-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }
  .top-list {
    display: flex;
    gap: 24px;
  }
  .item-list {
    width: calc((100% - 72px) / 4);
  }
  .title-theme {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color-text);
    margin-bottom: 72px;
  }
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    margin-bottom: 8px;
  }
  .employees {
    background-color: var(--accent-color-secondary);
    padding: 120px 0;
  }
  
  .employees-list-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    text-align: center;
    margin-bottom: 8px;
  }
  .employees-list-position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .employees-list-item {
    background-color: var(--page--background--color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .employees-list {
    display: flex;
    gap: 24px;
  }
  .container-employees {
    padding: 32px 0 32px;
  }
  .social-container {
    margin-right: 80px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
  }
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: var(--page-color);
  }
  .aside {
    background-color: var(--primary-color-text);
    padding: 100px 0;
  }
  .aside-container {
    display: flex;
    align-items: baseline;
  }
  .text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color-secondary);
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2420px;
  }
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    display: inline-block;
    margin-bottom: 16px;
  }
  .logo-part {
    color: var(--accent-color-secondary);
  }
  .logo-page {
    color: var(--primary-color-text);
  }
  .about {
    padding-bottom: 120px;
  }
  .img-about {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .about-img {
    display: block;
  }
  .about-img:hover,
  .about-img:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .about-list {
    display: flex;
    gap: 24px;
  }
  .about-gallery {
    width: calc((100% - 48px) / 3);
  }
  .about-img-gallery {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
  }
  .open-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    background: var(--accent-color-secondary);
    border: 1px solid #e7e9fc;
    border-radius: 4px;
  }
  .open-btn:hover,
  .open-btn:focus {
    background-color: var(--page-color);
    color: var(--page--background--color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .type {
    padding: 96px 0 120px;
  }
  .button {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .container-img-about {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .logo-type {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    margin-right: 76px;
    display: inline-block;
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .head-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--page--background--color);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .customers-logo {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-head {
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-color-text);
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    gap: 24px;
  }
  .customers-list-icon {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .contacts-list-icon:hover,
  .customers-list-icon:focus {
    background: #404bbf;
  }
  .customers-icon {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-color);
  }
  .customers-icon:hover,
  .customers-icon:focus {
    border-color: #404bbf;
    color: #404bbf;
  }
  .icon-customers {
    fill: currentColor;
  }
  .icon-svg {
    fill: currentColor;
  }
  .aside-icon {
    display: flex;
    align-items: baseline;
  }
  .social-head {
    margin-right: 120px;
  }
  .main-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .social-list-item {
    width: 40px;
    height: 40px;
  }
  .main-list-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #404bbf;
  }
  .social-list-icon {
    fill: var(--accent-color-secondary);
  }
  .main-list-link:hover,
  .main-list-link:focus {
    background-color: #31d0aa;
  }
/*===========Subscribe===========*/
.subscribe-container {
  margin-right: 80px;
}

.subscribe-list {
  margin-bottom: 16px; 
  font-weight: 500; 
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-form-label-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent; 
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em; 
  padding-left: 16px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  
}
.subscribe-form-submit-btn {
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 16px;
  font-size: 16px;
  font-weight: 500; 
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}
.subscribe-form-submit-btn-icon {
  margin-left: 16px;
}


/*=========== /Backdrop styles =========== */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  /*=========== Modal window styles =========== */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    padding: 72px 24px 24px 24px;
    margin-bottom: auto;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px;
    background-color: #e7e9fc;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }
  .modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  /*=========== Review form styles ===========*/
  .review-form-description {
    font-weight: 500;
    line-height: 1.5;
    width: 360px;
    height: 24px;
    top: 152px;
    left: 540px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center; 
    color: var(--primary-color-text);
    margin-bottom: 16px;
  }
  .review-form-field-label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    display: block;
    color: var(--customers-color);
    margin-bottom: 4px;
  }
  .review-form-field-wrapper {
    margin-bottom: 8px;
  }
  .review-form-input-wrapper {
    position: relative;
    margin-bottom: 16px;
  }
  .review-form-input {
    width: 100%;
    height: 40px;
    top: 18px;
    border-radius: 4px;
    border: 1px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms linear;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  .review-form-input:focus {
    border-color: #4D5AE5;
  }
  
  .review-form-fieled-icon {
    color: #000000;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: border-color 250ms linear;
    stroke: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input:focus + .review-form-fieled-icon {
    fill: #4D5AE5;
  }
  .review-form-message {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    top: 216px;
    border-radius: 4px;
    border: 1px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-message:focus {
    border-color: #4D5AE5;
    outline: none;
  }

  .review-form-field-wrapper-last {
    margin-bottom: 16px;
  }
  .review-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--customers-color);
  }
  .review-form-checkbox-wrapper {
    margin-bottom: 24px;
  }
  .review-form-privacy-checkbox:checked
    + .review-form-checkbox-label
    .review-form-own-checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--page-color);
    fill: var(--accent-color-secondary);
  }
  .review-form-privacy-checkbox:focus
    + .review-form-checkbox-label
    .review-form-own-checkbox {
    outline: 2px solid rgba(77, 90, 229, 1);
    border: none;
  }
  .review-form-own-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
  .privacy-policy-link {
    color: var(--accent-color);
    text-decoration: underline;
  }
  .review-form-submit-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    top: 584px;
    left: 635px;
    padding: 4px;
    padding: 16px, 32px, 16px, 32px;
    border: none;
    border-radius: 4px;
    gap: 10px;
    background-color: #4D5AE5;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  