h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  button {
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--accent-color);
    transition: color var(--transition-duration-and-func);
    background-color: var(--transition-duration-and-func);
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    margin-bottom: 8px;
  }
  @media only screen and (min-width: 768px) {
.title {
width: 320px;
height: 7216px;

}
}
  .container {
width: 320px;
height: 432px;
top: 56px;
margin: 0 auto;
  }
 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
 }
 @media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
 }
 /*======= Page header =======*/
 .page-header {
    padding: 16px;

 }
 .first-menu {
    display: none;
}
.contacts-list {
    display: none;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
height: 56px;
  }
  .logo-type {
    font-family: 'Raleway', sans-serif;
    font-weight: 115зч;
    font-size: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    margin-right: 76px;
    display: inline-block;
  }
  .logo-page {
    color: var(--primary-color-text);
  }
  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: rgba(47, 47, 55, 1);
    line-height: 0;
  }
/*======= Mobile menu styles ========*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}
.mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #000000;
    position: absolute;
    top: 0;
    right: 0;
}
.mobile-menu-container {
    position: relative;
    right: 0;
}
.mobile-nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
    padding: 24px 0;
    display: block;
    transition: color 300ms linear;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--page-color);
  }